body.home {
      background:none;
} 
    
body.home #logo {
  display: block;
  width:580px;
  margin:0px auto;
}

body.home #footer {
    position: fixed;
    bottom:50px;
    width:100%;
}

body.home #drawernav {
    display:block;
    margin: 0px auto;  
    position:relative;
    bottom: 20px;
}

#drawernav {
  display: none;
}

html {
    background: url(../images/home-bkgd-1650x843.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#mainnav {
    display:none;
}
#main-nav-container {
    width:650px;
    margin:0px auto;
    padding:10px;
    background-color:#fff;
    
}

#main-nav-container a {
    display: block;
    font-size:14px;
    width:120px;
    float:left;
    text-align:center;
}
body.home #footer-below{
    text-align: center;
}
body.home #footer-below span a {
    color:#fff;
}
body.home #footer-below h1 {
    color:#fff;
    font-family:'Georgia', 'Times New Roman';
    font-weight:normal;
    text-shadow: 1px 1px 1px #222;
}


