@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.center {
    text-align: center;
}

@media (max-width: 770px) {
    #mainnav {
        margin: 50px auto 0 auto;
        position: fixed;
        bottom: 10px;
        width:100%;
    }
    #navigation-link {
        width:100%;
        font-size:24px;
    }
    #drawernav {
        display:none;
        margin: 0px auto;
        position: fixed;
        bottom: 58px;
        width:100%;
    }
    #drawernav a {
        display:block;
        background-color:#eee;
        border-radius:0px;
        border:1px solid #eee;
        border-top:none;
        font-size:20px;
        padding:5px;
    }
    body.home #logo {
      display: block;
      width:270px;
      margin:0px auto;
    }

    body.home #logo > img {
      display: block;
      width:270px;
      margin:0px auto;
    }
}

@media (min-width: 770px) {
    body.home {
      background:none;
    } 
    
    body.home #logo {
      display: block;
      width:530px;
      margin:0px auto;
    }
    
    body.home #footer {
        position: fixed;
        bottom:50px;
        width:100%;
    }

    body.home #drawernav {
        display:block;
        margin: 0px auto;
        position:relative;
        bottom: 25px;
    }

    #drawernav {
      display: none;
    }

    html {
        background: url(../images/home-bkgd-1650x843.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #mainnav {
        display:none;
    }
    #main-nav-container {
        width:530px;
        margin:0px auto;
        padding:10px;
        background-color:#fff;
        .box-shadow(0 6px 12px rgba(0,0,0,.175));
        a {
            display: block;
            font-size:16px;
            width:100px;
            float:left;
            text-align:center;
            font-weight:700;
            font-style:normal;
        }
    }
    body.home #footer-below{
        text-align: center;
        color:#fff;
    }
    body.home #footer-below span a {
        color:#fff;
        font-size:18px;
    }
    body.home #footer-below h1 {
        color:#fff;
        font-family:@font-family-serif;
        font-weight:normal;
        text-shadow: 5px 2px 7px #221f1f;
    }

}

@media (max-width: 1400px) {
    body.home #footer {
        bottom:10px;
    }

    body.home #drawernav {
        display:block;
        margin: 0px auto;
        position:relative;
        bottom: 10px;
    }
    #copyright {
        display: block;
        margin-top:5px;
    }
}

@media (min-width: 1400px) {
    body.home #footer {
        bottom:50px;
    }

    body.home #drawernav {
        display:block;
        margin: 0px auto;
        position:relative;
        bottom: 25px;
    }
    #copyright {
        display: block;
        margin-top:15px;
    }
}